[Unit]
Description=blackwebfilter
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root

Type=simple
Environment="GIN_MODE=release"
ExecStart=/app/blackwebfilter/blackwebfilter
WorkingDirectory=/app/blackwebfilter

Restart=always
RestartSec=1
StartLimitInterval=0

LimitNOFILE=60000
LimitNPROC=10000

[Install]
WantedBy=multi-user.target
